<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Cadastros" nzIcon="file-add">
        <ul>
          <li nz-menu-item>Cadastro simples</li>
          <li nz-menu-item>Cadastro vinculado</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Pesquisas" nzIcon="file-search">
        <ul>
          <li nz-menu-item>Pesquisa simples</li>
          <li nz-menu-item>Pesquisa vinculada</li>
          <li nz-menu-item>Pesquisa com filtro</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        Projeto completo para estudo.
      </div>
    </nz-content>
    <nz-footer>Desenvolvido por Lucas Passos e Guilherme Araújo</nz-footer>
  </nz-layout>
</nz-layout>